
<div class="bg">
<br>
<h1>HELLO, NICE TO MEET YOU</h1>
<br>
<img src="../../assets/ann.jpg" id="annPict">
<br>
  <div class="aboutText">
<h3>
    <br>
      <p>My Name is Analyn, Thank you for spending moments in my site,</p>
      <p> If you are interested to order please contact me below: </p>
    </h3>
    <br>
    <h3><b>Address:</b></h3>
    <h4>129 Purok 1 Brgy. Anunas Angeles City, Philippines</h4>
    <h3><b>Mobile:</b></h3>
    <h4>63 935 147 6310</h4>
    <h3><b>Email:</b></h3>
    <h4>renzo031109@gmail.com</h4>
  </div>
</div>
