<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <img src="../assets/analyn.png" width="90px" id="analynIcon">

  <a class="navbar-brand" href="#" style="font-weight:bold">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['gallery']">Cakes and Cupcakes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['about']">Contact</a>
      </li>

    </ul>
  </div>
</nav>